# Obligatorischer don't touch if you don't know what you're doing disclaimer
# ask me first

[server]
host = 127.0.0.1
port = 8002

[data]
dataDirectory = /dataSymlink

[data.locations]
calendar = /json/events.json
newsticker = /json/newsticker.json
images = /json/bilder.json

[struktur]
bilder = /bilderStrukturen
bilderDirectoryName = /ChorservBilderStruktur

[requiredapps]
p7zip = /usr/bin/7z
struktur = ../Servertools/Struktur